<div class="container">
    <div class="card shadow-5-strong mt-2">
        <div class="card-header">
            <h5 class="card-title">Welcome to Lead Manager!</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat officia nihil omnis cum maxime. Esse saepe praesentium doloribus deleniti autem. Repellendus quia nostrum, natus vel a reiciendis dolor ipsam repellat.
            </p>
            <button type="button" class="btn btn-primary" routerLink="/leads">Show my leads</button>
        </div>
    </div>
</div>